window {
    all: unset;
    background-color: #232a30;
    color: #d4eafc;
    font-family: Nunito;
    font-size: 28;
    font-weight: bold
}

button {
    all: unset;
    font-family: FiraMono Nerd Font Mono;
    font-size: 38;
    background-color: #232a30;
    padding: 0px 5px 0px 5px;
}

button:hover {
    padding: 0px 5px 0px 5px;
    color: #aee098;
}

.volume-on {
    font-family: FiraMono Nerd Font Mono;
    font-size: 38;
}

.volume-off {
    font-family: FiraMono Nerd Font Mono;
    font-size: 38;
    color: #e0989a;
}

.wifi-connected {
    font-family: FiraMono Nerd Font Mono;
    font-size: 38;
}

.wifi-disconnected {
    font-family: FiraMono Nerd Font Mono;
    font-size: 38;
    color: #e0989a;
}

.battery-healthy {
    font-family: FiraMono Nerd Font Mono;
    font-size: 26;
}

.battery-critical {
    font-family: FiraMono Nerd Font Mono;
    font-size: 26;
    color: #e0989a;
}

.icon {
    font-family: FiraMono Nerd Font Mono;
    font-size: 90;
}

.sidebar-text {
    font-family: FiraMono Nerd Font Mono;
    font-size: 38;
}
