window {
    all: unset;
    background-color: #232a30;
    color: #eeeeee;
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 28;
    font-weight: bold;
}

button {
    all: unset;
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 38;
    background-color: #232a30;
    padding: 0px 5px 0px 5px;
}

button:hover {
    padding: 0px 5px 0px 5px;
    color: #aee098;
}

.volume-on {
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 38;
}

.volume-off {
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 38;
    color: #e0989a;
}

.wifi-connected {
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 38;
}

.wifi-disconnected {
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 38;
    color: #e0989a;
}

.battery-icon {
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 20;
}

.battery-healthy {
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 26;
}

.battery-critical {
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 26;
    color: #e0989a;
}

.icon {
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 90;
}

.sidebar-text {
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 38;
    color: #eeeeee;
}

.battery-slider {
    font-size: 90;
    margin: 10px 0px 10px 0px;
}

.battery-slider slider {
    all: unset;
}

.battery-slider scale trough {
	background-color: #000000;
    border-color: #000000;
	border-radius: 20px;
	min-height: 20px;
	min-width: 450px;
    margin: 10px 0px 10px 0px;
}

.battery-slider scale trough highlight {
	background-color: #aee098;
	border-radius: 20px;
}

.volume-slider {
    font-size: 90;
    margin: 10px 0px 10px 0px;
}

.volume-slider slider {
    all: unset;
}

.volume-slider scale trough {
	background-color: #000000;
    border-color: #000000;
	border-radius: 20px;
	min-height: 20px;
	min-width: 450px;
    margin: 10px 0px 10px 0px;
}

.volume-slider scale trough highlight {
	background-color: #aee098;
	border-radius: 20px;
}

.brightness-slider {
    font-size: 90;
    margin: 10px 0px 10px 0px;
}

.brightness-slider slider {
    all: unset;
}

.brightness-slider scale trough {
	background-color: #000000;
    border-color: #000000;
	border-radius: 20px;
	min-height: 20px;
	min-width: 450px;
    margin: 10px 0px 10px 0px;
}

.brightness-slider scale trough highlight {
	background-color: #aee098;
	border-radius: 20px;
}

.calendar-container {
    padding: 40px;
}

.calendar {
    background-color: #232a30;
    color: #eeeeee;
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 34;
    border: #232a30;
    margin: 10px 0px 0px 0px;
}

.calendar.header {
    color: #98dce0;
    font-weight: bold;
    padding-top: 50px;
}

.calendar.button {
    color: #98dce0;
}

.calendar.highlight {
    color: #b098e0;
}

.calendar:indeterminate {
    color: #919191;
}

.calendar:selected {
  color: #98dce0;
}

.lock {
    color: #98dce0;
}

.lock :hover {
    color: #232a30;
    background-color: #98dce0;
}

.logout {
    color: #b098e0;
}

.logout :hover {
    color: #232a30;
    background-color: #b098e0;
}

.reboot {
    color: #e0d898;
}

.reboot :hover {
    color: #232a30;
    background-color: #e0d898;
}

.poweroff {
    color: #e09898;
}

.poweroff :hover {
    color: #232a30;
    background-color: #e09898;
}

.weather {
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 90;
    color: #e0d898;
}

.pacman {
    color: #939392;
}
